/* Base styles */
.contact_container_section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}

.contact_img {
    width: calc(50% - 10px);
    max-width: 800px;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
}

.contact {
    width: calc(50% - 10px);
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
}

.contact_header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.contact_ip {
    border: none;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    max-width: 400px;
    background-color: transparent;
}

.contactus {
    font-size: medium;
    color: rgb(2, 151, 188);
    padding: 5px 15px;
    border: 1px solid rgb(2, 151, 188);
    border-radius: 15px;
    background-color: transparent;
}

/* Media Queries */
@media (max-width: 768px) {
    .contact_content {
        flex-direction: column;
    }

    .contact_img,
    .contact {
        width: 100%;
        margin-right: 0;
    }
}
