.mainn {
    padding: 20px;
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.order-summary,
.billing-details {
    width: 50%;
    margin: 10px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.order-summary h2,
.billing-details h2 {
    margin-bottom: 10px;
}

.billing-details form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input,
select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.submit-btn:hover {
    background-color: #555;
}